# Database url
DATABASE_URL=""

# Required Authjs env variables
AUTH_SECRET="" 

# need to change to deployed link after development
AUTH_URL="http://localhost:3000"

# Google oauth credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# node mailer
MAILER_EMAIL=""
MAILER_PASSWORD=""