@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #04245c;
  --primary: #04245c;
  --secondary: #e3f0fa;
  --accent: #d5c67a;
  --contrast: #a8def2;
  --high-contrast: #0494cb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato), "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif";
}
