@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .focus-ring-no-left {
    @apply focus:outline-none focus:ring-0 peer-focus:ring-0;
  }
  .focus-ring-no-left:focus-visible {
    box-shadow: 0 -2px 0 2px var(--accent), 2px 0 0 2px var(--accent), 0 2px 0 2px var(--accent);
  }
  .font-stroke-dark-1 {
    -webkit-text-stroke: 1px var(--primary);
    text-shadow: 5px 5px 5px var(--primary);
  }
  /* .font-stroke-dark-2 {
    text-shadow: 3px 3px 3px var(--primary);
  }
  .font-stroke-light {
    text-shadow: 5px 5px 5px var(--secondary);
  }
  .font-stroke-accent {
    text-shadow: 5px 5px 5px var(--accent);
  } */
}

:root {
  /* Primary Colors */
  --primary: hsl(220, 98%, 18%); /* #04245c */
  --primary-foreground: hsl(207, 64%, 94%); /* #e3f0fa */

  /* Secondary Colors */
  --secondary: hsl(207, 64%, 94%); /* #e3f0fa */
  --secondary-foreground: hsl(220, 97%, 18%); /* #04245c */

  /* Accent Colors */
  --accent: hsl(47, 55%, 66%); /* #d5c67a */
  --accent-foreground: hsl(220, 97%, 18%); /* #04245c */
  --contrast: hsl(200, 96%, 39%); /* #04994cb */

  /* Background Colors */
  --background: hsl(0, 0%, 100%); /* White */
  --foreground: hsl(220, 97%, 18%); /* Primary text */

  /* Dark Mode Colors */
  --background-dark: hsl(217.9, 21.4%, 19.8%); /* Dark Mode #1f2937 */
  --foreground-dark: hsl(207, 64%, 94%); /* Light text on dark background */

  /* UI Elements */
  --card: hsl(0, 0%, 100%); /* White */
  --card-foreground: hsl(220, 97%, 18%); /* Primary text */
  --popover: hsl(207, 64%, 94%); /* #e3f0fa */
  --popover-foreground: hsl(220, 97%, 18%); /* Primary text */

  /* Extra Colors */
  --blue: hsl(221, 83%, 53%); /* #2563eb */

  /* Borders & Inputs */
  --border: hsl(214, 15%, 90%);
  --input: hsl(214, 15%, 95%);
  --ring: hsl(214, 15%, 85%);
  --radius: 0.5rem;

  /* Font Variables */
  --font-title: "Poppins", "Roboto", "Arial", "Helvetica", "sans-serif";
  --font-subtitle: "Montserrat", "Open Sans", "Segoe UI", "Tahoma", "sans-serif";
  --font-body: "Lato", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif";
}

.dark {
  /* Dark Mode */
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);

  --card: var(--background-dark);
  --card-foreground: var(--foreground-dark);
  --popover: var(--background-dark);
  --popover-foreground: var(--foreground-dark);
}


body {
  @apply bg-background font-sans text-base text-foreground;
  font-family: var(--font-body);
}
